:root{

    /* MAIN BACKGROUNDS */
    --mainBg: hsl(222, 26%, 31%);
    --toggleAndKeypadBg: hsl(223, 31%, 20%);
    --inputBg: hsl(224, 36%, 15%);

    /* BUTTONS COLORS */
    --btn-bgcolor: hsl(30, 25%, 89%);
    --btn-shadow: hsl(28, 16%, 65%);

    /* FOREGROUND COLORS */
    --PrimaryFg: hsl(0, 0%, 100%);


    --fontsize-h1:2rem;
    --fontsize-h2:.8rem;
}

*,::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
    color: inherit;
}

body{
    font-family: "Spartan", sans-serif;
    background-color: var(--mainBg);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: var(--fontsize-h1);
}

h2{
    font-size: var(--fontsize-h2);
    letter-spacing: .5px;
    margin-bottom: 4px;
    margin-right: 1.25rem;
}

section{
    padding: 1.5rem;
    max-width: 500px;
    color: var(--PrimaryFg);
}

div{
    display: flex;
}

input{
    font-size: 2rem;
    padding: 1.2rem;
    text-align: end;
    width: 100%;
    margin: 1.5rem 0 1rem;
    border-radius: .4rem;
    border-style: none;
    background-color: var(--inputBg);
}

button{
    --PrimaryFg: hsl(221, 14%, 31%);
    font-size: 2rem;
    border-style: none;
    padding: .7rem;
    /* flex-grow: 1; */
    flex: 1 0 20%;
    border-radius: .4rem;
    background-color: var(--btn-bgcolor);
    /* box-shadow: x y z var(--btn-shadow); */
    color: var(--PrimaryFg);

}

.grid{
    flex-wrap: wrap;
    gap: .9rem;
    padding: 1rem;
    justify-content: space-between;
    background-color: var(--toggleAndKeypadBg);
    border-radius: .4rem;
}

.grid--fontsize{
    /* --PrimaryFg:hsl(0, 0%, 100%); */
    font-size: .9rem;
}

.grid--padding{
    padding: 1.5rem;
}

.grid--bg{
    --PrimaryFg:hsl(0, 0%, 100%);
    --btn-shadow:hsl(28, 16%, 65%);
    --btn-bgcolor: hsl(225, 21%, 49%);
}

/*TOP SECTION*/

.top{
    justify-content: space-between;
    align-items: center;
}

.toggle{
    /* border: 1px solid black; */
    width: 70px;
    padding: 0.2rem;
    border-radius: 2rem;
    background-color: var(--toggleAndKeypadBg);
}

#toggle__circle{
    --btn-bgcolor:hsl(6, 63%, 50%);
    background-color: var(--btn-bgcolor);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.theme__choices{
    flex-direction: column;
}

.theme__numbers{
    justify-content: space-around;
}

.theme{
    align-items: flex-end;
}

/*EQUAL BUTTON STYLE*/
#equal{
    --PrimaryFg:hsl(0, 0%, 100%);
    --btn-bgcolor:hsl(6, 63%, 50%);
    --btn-shadow:hsl(6, 70%, 34%);
    /* background-color: var(--btn-bgcolor); */
}

#toggle__circle.themeTwo{
    margin-left: calc(50% - 8px);
}

#toggle__circle.themeThree{
    margin-left: calc(100% - 16.4px);
}

.theme__numbers{
    font-size: var(--fontsize-h2);
    margin-bottom: .3rem;
}

