:root{

    /*MAIN BACKGROUNDS*/
    --mainBg: hsl(222, 26%, 31%);
    --toggleAndKeypadBg: hsl(223, 31%, 20%);
    --inputBg: hsl(224, 36%, 15%);


    --btn-bgcolor: hsl(30, 25%, 89%);
    --btn-shadow: hsl(28, 16%, 65%);

    /*FOREGROUND COLORS*/
    --PrimaryFg: hsl(0, 0%, 100%);
    --SecondaryFg : hsl(221, 14%, 31%);

    /*EQUAL AND TOGGLE BACKGROUND AND SHADOW ONLY FOR EQUAL*/
    --EqualAndToggleBg: hsl(6, 63%, 50%) ;
    --EqualShadow: hsl(6, 70%, 34%) ;

    /*DELETE AND RESET BUTTONS BACKGROUND AND SHADOW*/
    --DelAndResetBg: hsl(225, 21%, 49%);
    --DelAndResetShadow: hsl(224, 28%, 35%);


    --fontsize-h1:2rem;
    --fontsize-h2:.8rem;
}

*,::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
    color: inherit;
}

body{
    font-family: "Spartan", sans-serif;
    background-color: var(--mainBg);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: var(--fontsize-h1);
}

h2{
    font-size: var(--fontsize-h2);
    letter-spacing: .5px;
    margin-bottom: 4px;
    margin-right: 1.25rem;
}

section{
    padding: 1.5rem;
    max-width: 500px;
    color: var(--PrimaryFg);
}

div{
    display: flex;
}

input{
    font-size: 2rem;
    padding: 1.2rem;
    text-align: end;
    width: 100%;
    margin: 1.5rem 0 1rem;
    border-radius: .4rem;
    border-style: none;
    background-color: var(--inputBg);
}

button{
    font-size: 2rem;
    border-style: none;
    padding: .7rem;
    /* flex-grow: 1; */
    flex: 1 0 20%;
    border-radius: .4rem;
    background-color: var(--btn-bgcolor);
    /* box-shadow: ; */
}

.grid{
    flex-wrap: wrap;
    gap: .9rem;
    padding: 1rem;
    justify-content: space-between;
    background-color: var(--toggleAndKeypadBg);
    border-radius: .4rem;
    color: var(--SecondaryFg);
}

.grid--fontsize{
    --PrimaryFg:hsl(0, 0%, 100%);
    font-size: .9rem;
    color: var(--PrimaryFg);
}

.grid--padding{
    padding: 1.5rem;
}

.grid--bg{
    background-color: var(--DelAndResetBg);
}

/*TOP SECTION*/

.top{
    justify-content: space-between;
    align-items: center;
}

.toggle{
    /* border: 1px solid black; */
    width: 70px;
    padding: 0.2rem;
    border-radius: 2rem;
    background-color: var(--toggleAndKeypadBg);
}

.toggle__circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--EqualAndToggleBg);
}

.theme__choices{
    flex-direction: column;
}

.theme__numbers{
    justify-content: space-around;
}

.theme{
    align-items: flex-end;
}

/*EQUAL BUTTON STYLE*/
#equal{
    
    background-color: var(--EqualAndToggleBg);
}